## spark생성

In [5]:
import pyspark

myConf= pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
        .builder\
        .master("local")\
        .appName("myApp")\
        .config(conf=myConf)\
        .getOrCreate()

### List에서 RDD 생성하기

In [6]:
myList = [1,23]

In [7]:
myRdd1= spark.sparkContext.parallelize(myList)

In [10]:
myRdd1.take(2)

[1, 23]

### 파일에서 RDD 생성하기

In [11]:
%%writefile data/ds_spark_wiki.txt
Wikipedia
Apache Spark is an open source cluster computing framework.
아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.
Apache Spark Apache Spark Apache Spark Apache Spark
아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크
Originally developed at the University of California, Berkeley's AMPLab,
the Spark codebase was later donated to the Apache Software Foundation,
which has maintained it since.
Spark provides an interface for programming entire clusters with
implicit data parallelism and fault-tolerance.

Overwriting data/ds_spark_wiki.txt

In [13]:
import os
myRdd2 = spark.sparkContext.textFile(os.path.join("data","ds_spark_wiki.txt"))

In [20]:
myRdd2.take(2)

['Wikipedia', 'Apache Spark is an open source cluster computing framework.']

## csv에서 RDD 생성하기

In [21]:
%%writefile ./data/ds_spark_2cols.csv
35, 2
40, 27
12, 38
15, 31
21, 1
14, 19
46, 1
10, 34
28, 3
48, 1
16, 2
30, 3
32, 2
48, 1
31, 2
22, 1
12, 3
39, 29
19, 37
25, 2

Overwriting ./data/ds_spark_2cols.csv

In [22]:
myRdd4 = spark.sparkContext\
    .textFile(os.path.join("data","ds_spark_2cols.csv"))

In [23]:
myList=myRdd4.take(5)
print (type(myList))

<class 'list'>

## S.6 RDD API

우선 파이썬으로 해보자

In [ ]:
y = lambda x : x * 2
print (y(1))

In [26]:
celsius = [39.2, 36.5, 37.3, 37.8]
def c2f(c):
    f=list()
    for i in c:
        _f=(float(9)/5)*i + 32
        f.append(_f)
    return f

print (c2f(celsius))

[102.56, 97.7, 99.14, 100.03999999999999]

# 문제

# 위에껄 map 함수로 바꿔보자

In [31]:
celsius = [39.2, 36.5, 37.3, 37.8]
def c2f(c):
    a=(float(9)/5)*c + 32
    return a

print(list(map(c2f,celsius)))

[102.56, 97.7, 99.14, 100.03999999999999]

In [ ]:
y = lambda x : x * 2
print (y(1))

결과는?

In [ ]:
x = lambda x, y : x + y
print(x(1, 2))

결과는?

# 문제

위에 온도계산 문제를 lambda를 이용하여 더짧게 만들어라

In [34]:
celsius = [39.2, 36.5, 37.3, 37.8]
list(map(lambda x: float(9)/5*x + 32, celsius))

[102.56, 97.7, 99.14, 100.03999999999999]

In [ ]:
sentence = "Hello World"
list(map(lambda x:x.split(), sentence))

결과는?

In [ ]:
sentence = ["Hello World", "Good Morning"]
a = list(map(lambda x:x.split(), sentence))

print(list(map(lambda x:x.split(), sentence)))

결과는?

# filter()

filter()는 데이터를 선별한다.

In [ ]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x % 2, fib)
print (list(result))

# reduce

# 문제

### reduce를 이용해서1부터 100까지의 합을 구하라

In [41]:
from functools import reduce
reduce(lambda x, y: x+ y, range(1,101))

5050

# Rdd 사용하기

# map

In [42]:
nRdd = spark.sparkContext.parallelize([1, 2, 3, 4])
squared = nRdd.map(lambda x: x * x)
print (squared.collect())

[1, 4, 9, 16]

rdd map은  .collect를 해야함

In [44]:
myRdd4.take(3)

['35, 2', '40, 27', '12, 38']

# 문제

myRdd4를 컴마로분리

In [57]:
myRdd4.map(lambda x: x.split(',')).take(4)

[['35', ' 2'], ['40', ' 27'], ['12', ' 38'], ['15', ' 31']]

In [58]:
myRdd2=spark.sparkContext\
    .textFile(os.path.join("data","ds_spark_wiki.txt"))

In [59]:
myRdd2.collect()

['Wikipedia',
 'Apache Spark is an open source cluster computing framework.',
 '아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.',
 'Apache Spark Apache Spark Apache Spark Apache Spark',
 '아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크',
 "Originally developed at the University of California, Berkeley's AMPLab,",
 'the Spark codebase was later donated to the Apache Software Foundation,',
 'which has maintained it since.',
 'Spark provides an interface for programming entire clusters with',
 'implicit data parallelism and fault-tolerance.']

# 문제

myRdd2를 문장으로 나눠봐

split()-> 공백에서 단어를 가른다.

In [85]:
sentence = myRdd2.map(lambda x:x.split())
sentence.collect()

[['Wikipedia'],
 ['Apache',
  'Spark',
  'is',
  'an',
  'open',
  'source',
  'cluster',
  'computing',
  'framework.'],
 ['아파치', '스파크는', '오픈', '소스', '클러스터', '컴퓨팅', '프레임워크이다.'],
 ['Apache', 'Spark', 'Apache', 'Spark', 'Apache', 'Spark', 'Apache', 'Spark'],
 ['아파치', '스파크', '아파치', '스파크', '아파치', '스파크', '아파치', '스파크'],
 ['Originally',
  'developed',
  'at',
  'the',
  'University',
  'of',
  'California,',
  "Berkeley's",
  'AMPLab,'],
 ['the',
  'Spark',
  'codebase',
  'was',
  'later',
  'donated',
  'to',
  'the',
  'Apache',
  'Software',
  'Foundation,'],
 ['which', 'has', 'maintained', 'it', 'since.'],
 ['Spark',
  'provides',
  'an',
  'interface',
  'for',
  'programming',
  'entire',
  'clusters',
  'with'],
 ['implicit', 'data', 'parallelism', 'and', 'fault-tolerance.']]

# 문제

myRdd2를 문장으로 쪼개고 단어로 쪼갠후 

Wikipedia
-----
Apache Spark is an open source cluster computing framework. 
-----
아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다. 
-----
Apache Spark A


이런 형식으로 만들어라

In [92]:
for i in sentence.collect():
    for a in i:
        print(a, end=' ')
       
    print('\n===========')

Wikipedia
===========
Apache Spark is an open source cluster computing framework.
===========
아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.
===========
Apache Spark Apache Spark Apache Spark Apache Spark
===========
아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크
===========
Originally developed at the University of California, Berkeley's AMPLab,
===========
the Spark codebase was later donated to the Apache Software Foundation,
===========
which has maintained it since.
===========
Spark provides an interface for programming entire clusters with
===========
implicit data parallelism and fault-tolerance.
===========

아래 문제 다시 풀어

# 문제  다시풀어
문장별로 문장의 개수를 알아내라

### cf)중요 헷갈리는 부분

Rdd에서(파일이 긴 글 일때 ) map을 사용하게 되면 한줄을 읽어서 그 한줄을 하나의 배열에 순서대로 저장한다

그후 split()을 해주면 한줄당 각각의 단어로 나뉘어서 추가적인 하나의 리스트로 저장된 2차원 리스트가 만들어진다

만일 split(',')을 하면 하나의 문장이 통채로 추가적인 하나의 배열로 2차원 리스트가 만들어진다.

기존 rdd에 map을 씌워주면 하나의 문장이 ,이 끝에 오게 나뉜다

In [210]:

myRdd2.map(lambda x : len(x)).collect()

[9, 59, 32, 51, 31, 72, 71, 30, 64, 46]

In [142]:
mylist = ['i am', 
          'a cow']
rdd = spark.sparkContext.parallelize(mylist)
rdd.map(lambda x : x.split(',')).collect()

[['i am'], ['a cow']]

## pythonic

In [136]:
x=['35','2']
[int(i) for i in x]

[35, 2]

## 대문자, 문자 교체

# 문제
### mylist에서 각 문장에 첫번째 단어를 대문자로 만드시오

In [217]:
mylist = ['this is', 'a line']
rdd2 = spark.sparkContext.parallelize(mylist)
rdd2.map(lambda x : x.replace('i','L')).collect()

['thLs Ls', 'a lLne']

In [232]:
myword = rdd2.map(lambda x: x.split())
myword.map(lambda x: x[0].upper()).collect()

['THIS', 'A']

## reduce

# 문제 reduce를 이용해 1부터 100까지 숫자의 합을 구하시오

In [238]:
rdd = spark.sparkContext.parallelize(range(1,101))

In [243]:
rdd.reduce(lambda x,y : x+y)

5050

## filter
### 주의: 유니코드 일때는 u를 앞에다가 넣어줘야한다.

In [249]:
a = [1,2,3,4,5,6,7,8,9]
rdd = spark.sparkContext.parallelize(a)
rdd.filter(lambda x : x/1).collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [253]:
myRdd2.filter(lambda x : 'Spark' in x ).count()

4

In [256]:
 myRdd2.filter(lambda x : u'스파크' in x).count()

2

### foreach() 
#### map 과 달리 반환값이 없다

In [259]:
d= spark.sparkContext.parallelize([1, 2, 3, 4, 5]).foreach(lambda x: x + 1)

### 파일에 쓰기 rdd파일을 collect()를 써서 리스트로 바꿔줘야함

In [271]:
d= spark.sparkContext.parallelize([1, 2, 3, 4, 5])
d = d.map(lambda x : x).collect()

spark.sparkContext.parallelize(d).saveAsTextFile('data/dd')

In [275]:
!cat data/dd/part-00000

1
2
3
4
5

### 로컬에 저장된 텍스트 파일을 읽어서 저장하기

In [276]:
text = spark.sparkContext.textFile('data/dd')
text.collect()

['1', '2', '3', '4', '5']

## 저장된 파일에 새로운 숫자를 쓰려면 coalesce() 함수를 사용해아한다.

In [283]:
text.map(lambda x: "d".join(x)).coalesce(1).saveAsTextFile('data/dd_n_txt')

In [284]:
!cat data/dd_n_txt/part-00000

1
2
3
4
5

# Groupby

# 문제
### myRdd2에서 앞 두글자로 groupBy 를 시켜라
출력 결과

Wi: Wikipedia

-----

Ap: Apache Spark is an open source cluster computing framework.

Ap: Apache Spark Apache Spark Apache Spark 
Apache Spark

-----

아파: 아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.

아파: 아파치 스파크

In [309]:
myRdd2_group = myRdd2.groupBy(lambda x: x[0:2])
type(myRdd2_group)
for k,y in myRdd2_group.collect():
    print(k,y)

Wi <pyspark.resultiterable.ResultIterable object at 0x7ff8f44e3280>
Ap <pyspark.resultiterable.ResultIterable object at 0x7ff8f45cb5e0>
아파 <pyspark.resultiterable.ResultIterable object at 0x7ff8f45cbb80>
Or <pyspark.resultiterable.ResultIterable object at 0x7ff8f45cbbb0>
th <pyspark.resultiterable.ResultIterable object at 0x7ff8f45cb2e0>
wh <pyspark.resultiterable.ResultIterable object at 0x7ff8f45cb460>
Sp <pyspark.resultiterable.ResultIterable object at 0x7ff8f45e49a0>
im <pyspark.resultiterable.ResultIterable object at 0x7ff8f45e4670>

## ResultIterable은 반복문으로 해체시켜야함

In [311]:
for k,v in myRdd2_group.collect():
    for each in v:
        print("{}: {}".format(k,each))

Wi: Wikipedia
Ap: Apache Spark is an open source cluster computing framework.
Ap: Apache Spark Apache Spark Apache Spark Apache Spark
아파: 아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.
아파: 아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크
Or: Originally developed at the University of California, Berkeley's AMPLab,
th: the Spark codebase was later donated to the Apache Software Foundation,
wh: which has maintained it since.
Sp: Spark provides an interface for programming entire clusters with
im: implicit data parallelism and fault-tolerance.

In [314]:
_testList=[("Seoul",1),("Seoul",1),("Seoul",1),("Busan",1),("Busan",1),
           ("Seoul",1),("Busan",1),
           ("Seoul",1),("Seoul",1),("Busan",1),("Busan",1)]

## ('Seoul',1)이건 paired 데이터임

In [332]:
myRdd3 = spark.sparkContext.parallelize(_testList)
myRdd3_group = myRdd3.groupBy(lambda x : x[0])

for k,v in myRdd3_group.collect():
    for each in v:
        print("{}: {}".format(k,each))
        
myRdd3_group.mapValues(lambda x: list(x)).collect()

Seoul: ('Seoul', 1)
Seoul: ('Seoul', 1)
Seoul: ('Seoul', 1)
Seoul: ('Seoul', 1)
Seoul: ('Seoul', 1)
Seoul: ('Seoul', 1)
Busan: ('Busan', 1)
Busan: ('Busan', 1)
Busan: ('Busan', 1)
Busan: ('Busan', 1)
Busan: ('Busan', 1)

[('Seoul',
  [('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1)]),
 ('Busan',
  [('Busan', 1), ('Busan', 1), ('Busan', 1), ('Busan', 1), ('Busan', 1)])]

ResultIterable 변환 하기 
1. 반복문사용
2. mapValues 사용
위 코드를 해석하면 mapValues쓸때 key에 대한 값이 들어갔다. 

따라서 'seoul'과 seoul이 들어간 paired 데이터들을 리스트로 저장헀다.

# pairedRdd

### group by key보다는 reducebykey를써라 
### glom 은 파티션의 개수 알수 있음
### mapValue는 pairedRdd의 key value값에서 value에 적용하는 함수이다.

In [335]:
_testList=[("key1",1),("key1",1),("key1",1),("key2",1),("key2",1),
           ("key1",1),("key2",1),
           ("key1",1),("key1",1),("key2",1),("key2",1)]
_testRdd=spark.sparkContext.parallelize(_testList)

In [336]:
_testRdd.getNumPartitions()

1

In [337]:
_testRdd=spark.sparkContext.parallelize(_testList, 2)

##### (_testList, 2) 이거는 _testList라는 RDD 에 파티션을 2로 늘리자.

In [338]:
_testRdd.getNumPartitions()

2

#### glom() 함수는 각 partition에 있는 요소를 묶어서 RDD 만들어 준다.

enumerate -> 인덱스가 몇번째로 되어있는지 알아본다.

In [366]:
partitions = _testRdd.glom().collect()
for num, partition in enumerate(partitions):
     print(f'Partitions {num} -> {partition}')

Partitions 0 -> [('key1', 1), ('key1', 1), ('key1', 1), ('key2', 1), ('key2', 1)]
Partitions 1 -> [('key1', 1), ('key2', 1), ('key1', 1), ('key1', 1), ('key2', 1), ('key2', 1)]

## groupByKey, reduceByKey, mapValues

#### reduceByKey 써라
동일한 key에 대해 value를 합계한다. 

#### groupByKey 
partition별로 수행되지 않고 메모리에 값을 모두 저장해 놓는다.

결과는 ResultIterable로 바로 결과를 볼 수 없다.

**```mapValues()```**함수에 **list() 함수**를 적어주고 collect()하면 그 결과를 볼 수 있다.

In [367]:
_testRdd.reduceByKey(lambda x,y:x+y).collect()

[('key1', 6), ('key2', 5)]

In [368]:
_testRdd.groupByKey().collect()

[('key1', <pyspark.resultiterable.ResultIterable at 0x7ff8f45d42e0>),
 ('key2', <pyspark.resultiterable.ResultIterable at 0x7ff8f45dbd00>)]

In [379]:
_testRdd.groupByKey().mapValues(list).collect()

[('key1', [1, 1, 1, 1, 1, 1]), ('key2', [1, 1, 1, 1, 1])]

### mapValues 는 값(value)만 변동을 준다

In [376]:
_testRdd.mapValues(lambda x:x*2).collect()

[('key1', 2),
 ('key1', 2),
 ('key1', 2),
 ('key2', 2),
 ('key2', 2),
 ('key1', 2),
 ('key2', 2),
 ('key1', 2),
 ('key1', 2),
 ('key2', 2),
 ('key2', 2)]

### flatMap()은 리스트안에 또 리스트가 있는 경우 이를 하나의 리스트로 만든다

map()은 요소별로 적용된다.

In [382]:
myRdd2.flatMap(lambda x: x.split()).map(lambda x : (x,1))\
        .groupByKey()\
        .take(2)

[('Wikipedia', <pyspark.resultiterable.ResultIterable at 0x7ff8f45fef10>),
 ('Apache', <pyspark.resultiterable.ResultIterable at 0x7ff8f45fedc0>)]

In [397]:
myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .mapValues(sum)\
    .take(20)

[('Wikipedia', 1),
 ('Apache', 6),
 ('Spark', 7),
 ('is', 1),
 ('an', 2),
 ('open', 1),
 ('source', 1),
 ('cluster', 1),
 ('computing', 1),
 ('framework.', 1),
 ('아파치', 5),
 ('스파크는', 1),
 ('오픈', 1),
 ('소스', 1),
 ('클러스터', 1),
 ('컴퓨팅', 1),
 ('프레임워크이다.', 1),
 ('스파크', 4),
 ('Originally', 1),
 ('developed', 1)]

In [384]:
def f(x): return len(x)
myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .mapValues(f)\
    .sortByKey(True)\
    .take(10)

[('AMPLab,', 1),
 ('Apache', 6),
 ("Berkeley's", 1),
 ('California,', 1),
 ('Foundation,', 1),
 ('Originally', 1),
 ('Software', 1),
 ('Spark', 7),
 ('University', 1),
 ('Wikipedia', 1)]

In [393]:
wc=myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .mapValues(sum)\
    .sortByKey(True)\
    .take(10)

In [394]:
for e in wc:
    k = e[0]
    v = e[1]
    print (f"단어:{k}\t\t빈도:{v}")

단어:AMPLab,		빈도:1
단어:Apache		빈도:6
단어:Berkeley's		빈도:1
단어:California,		빈도:1
단어:Foundation,		빈도:1
단어:Originally		빈도:1
단어:Software		빈도:1
단어:Spark		빈도:7
단어:University		빈도:1
단어:Wikipedia		빈도:1

#### countByKey

**```countByKey()```**는 Key별로 계산을 하는 action 함수이고, 그 결과는 **dictionary**로 출력된다.
**```coutByKey().items()```**하면 리스트로 변환될 수 있다.

```countByKey()```는 dictionary로 병합하는 반면, reduceByKey()는 (K,V)로 계산한다.

In [395]:
myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .countByKey() # .items() to be added to get a list

defaultdict(int,
            {'Wikipedia': 1,
             'Apache': 6,
             'Spark': 7,
             'is': 1,
             'an': 2,
             'open': 1,
             'source': 1,
             'cluster': 1,
             'computing': 1,
             'framework.': 1,
             '아파치': 5,
             '스파크는': 1,
             '오픈': 1,
             '소스': 1,
             '클러스터': 1,
             '컴퓨팅': 1,
             '프레임워크이다.': 1,
             '스파크': 4,
             'Originally': 1,
             'developed': 1,
             'at': 1,
             'the': 3,
             'University': 1,
             'of': 1,
             'California,': 1,
             "Berkeley's": 1,
             'AMPLab,': 1,
             'codebase': 1,
             'was': 1,
             'later': 1,
             'donated': 1,
             'to': 1,
             'Software': 1,
             'Foundation,': 1,
             'which': 1,
             'has': 1,
             'maintained': 1,
             'it': 1,
             'since.': 1,
             'provides': 1,
             'interface': 1,
             'for': 1,
             'programming': 1,
             'entire': 1,
             'clusters': 1,
             'with': 1,
             'implicit': 1,
             'data': 1,
             'parallelism': 1,
             'and': 1,
             'fault-tolerance.': 1})